<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- embed fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preconnect"
      href="./img./img/https://fonts.gstatic.com"
      crossorigin
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/style.css" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/ico/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/ico/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/ico/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/ico/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/ico/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/ico/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/ico/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/ico/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/ico/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/ico/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/ico/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/ico/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/ico/favicon-16x16.png"
    />
    <link rel="manifest" href="./img/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <!--  font cdn  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <title>Green inn</title>
  </head>
  <body>
    <!-- link -->
    <!-- header -->
    <header class="header fixed">
      <div class="container">
        <div class="header__body">
          <button class="nav-toggle" id="navToggle">
            <i class="fa-solid fa-bars"></i>
          </button>
          <!-- logo -->
          <a href="./index.html"
            ><img src="/img/logo.png" alt="Green inn" class="header__logo"
          /></a>
          <!-- nav -->
          <nav class="header__nav" id="mainNav">
            <ul>
              <li><a href="/html/home.html">Nhà trọ,phòng trọ</a></li>
              <li><a href="/html/homeN.html">Nhà nguyên căn</a></li>
              <li><a href="/html/canho.html">Căn hộ</a></li>
              <li><a href="/html/review.html">Video Review</a></li>
              <li><a href="/html/blog.html">Blog</a></li>
            </ul>
          </nav>
          <!-- btn -->
          <div class="header__btn">
            <div class="btn header__btn--in">
              <a href="./login_sign.html"
                ><i class="fa-solid fa-right-to-bracket"></i> Đăng nhập</a
              >
            </div>
            <div class="btn header__btn--up">
              <a href="./login_sign.html">
                <i class="fa-solid fa-user-plus"></i>
                Đăng ký
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="header">
      <div class="container">
        <div class="header__background2">
          <div class="container background">
            <img src="/img/background1.jpg" alt="" class="header__background" />
            <img src="/img/background2.jpg" alt="" class="header__background" />
          </div>
          <div class="header__dot">
            <div class="dot1 active"></div>
            <div class="dot1"></div>
          </div>
        </div>
        <div class="header__search">
          <form>
            <div class="header__search1">
              <i class="header__icon fa-solid fa-magnifying-glass"></i>
              <input
                class="header__input"
                type="text"
                placeholder="Bạn muốn tìm trọ ở đâu?"
              />
            </div>
          </form>
          <div class="header__selection">
            <form>
              <i class="search__icon fa-solid fa-house"></i>
              <select name="" id="" class="header__select">
                <option value="nhanguyencan">Nhà nguyên căn</option>
                <option value="nhatro" selected>Nhà trọ,phòng trọ</option>
                <option value="canho">căn hộ</option>
              </select>
            </form>
          </div>
          <div class="header__address">
            <form action="">
              <i class="search__icon fa-solid fa-location-dot"></i>

              <select name="" id="" class="header__select">
                <optgroup label="Hà Nội">
                  <option value="thanhxuan">Thanh Xuân</option>
                  <option value="hadong" selected>Hà Đông</option>
                  <option value="dongda">Đống Đa</option>
                  <option value="badinh">Ba Đình</option>
                  <option value="haibatrung">Hai Bà Trưng</option>
                  <option value="longbien">Long Biên</option>
                  <option value="tayho">Tây Hồ</option>
                  <option value="namtuliem">Nam Từ Liên</option>
                  <option value="bactuliem">Bắc Từ Liêm</option>
                  <option value="hoangmai">Hoàng Mai</option>
                  <option value="caugiay">Cấu Giấy</option>
                  <option value="hoankiem">Hoàn Kiếm</option>
                </optgroup>
              </select>
            </form>
          </div>
          <div class="header__price">
            <i class="search__icon fa-solid fa-dollar-sign"></i>
            <select name="" id="" class="header__select">
              <option value="">Mức giá</option>
              <option value="duoi">Dưới 1 triệu</option>
              <option value="bang">2-3 triệu</option>
              <option value="tren">3-5 triệu</option>
              <option value="lon">5-8 triệu</option>
              <option value="lon">8-9 triệu</option>
            </select>
          </div>
          <div class="header__btn1">
            <div
              class="btn header__btn2"
              style="background-color: green"
              style="color: #fff"
            >
              tìm kiếm<i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="work">
      <div class="container">
        <div class="work__body">
          <img src="/img/maketing2.jpg" alt="" class="work__img" />
          <img src="/img/maketing3.jpg" alt="" class="work__img" />
          <img src="/img/maketing4.jpg" alt="" class="work__img" />
        </div>
      </div>
    </section>
    <main>
      <div class="container">
        <div class="main__body">
          <p class="main__desc">LỰA CHỌN CHỖ Ở HOT</p>
          <div class="main__item--container">
            <div class="main__item">
              <a href="/html/home1.html"
                ><img src="/img/phong.jpg" alt="" class="main__img"
              /></a>
              <div class="img__icon7">
                <span>HOT</span>
                <i class="fa-regular fa-heart"></i>
              </div>
              <div class="main__info">
                <div class="main__info--code">
                  Nhà trọ ở Ngõ 7 tổ 10 Yên Nghĩa, Hà Đông
                </div>
                <div class="main__info--price">
                  <span>Từ</span>2.5 triệu/tháng
                </div>
                <div class="main__info1">Nhà trọ,phòng trọ</div>
                <div class="main__info--add">
                  <i class="fa-solid fa-map-location-dot"></i>
                  <div class="main__info--add1">Yên Nghĩa,Hà Đông</div>
                </div>
              </div>
            </div>
            <div class="main__item">
              <img src="/img/phong2.jpg" alt="" class="main__img" />
              <div class="img__icon7">
                <span>HOT</span>
                <i class="fa-regular fa-heart"></i>
              </div>
              <div class="main__info">
                <div class="main__info--code">
                  Nhà cấp 4 mặt đường Lê Trọng Tấn,Hà Đông,Hà Nội
                </div>
                <div class="main__info--price">
                  <span>Từ</span>2.8 triệu/tháng
                </div>
                <div class="main__info1">Nhà trọ,phòng trọ</div>
                <div class="main__info--add">
                  <i class="fa-solid fa-map-location-dot"></i>
                  <div class="main__info--add1">Lê Trọng Tấn,Hà Đông</div>
                </div>
              </div>
            </div>
            <div class="main__item">
              <img src="/img/phong3.jpg" alt="" class="main__img" />
              <div class="img__icon7">
                <span>HOT</span>
                <i class="fa-regular fa-heart"></i>
              </div>
              <div class="main__info">
                <div class="main__info--code">
                  Nhà trọ ở ngõ 77 Thanh Xuân,Hà Nội
                </div>
                <div class="main__info--price">
                  <span>Từ</span>2.9 triệu/tháng
                </div>
                <div class="main__info1">Nhà trọ,phòng trọ</div>
                <div class="main__info--add">
                  <i class="fa-solid fa-map-location-dot"></i>
                  <div class="main__info--add1">Thanh Xuân,Hà Nội</div>
                </div>
              </div>
            </div>
            <div class="main__item">
              <img src="/img/phong4.jpg" alt="" class="main__img" />
              <div class="img__icon7">
                <span>HOT</span>
                <i class="fa-regular fa-heart"></i>
              </div>
              <div class="main__info">
                <div class="main__info--code">
                  Nhà trọ ở Đông la, Hoài Đức, Hà Nội
                </div>
                <div class="main__info--price">
                  <span>Từ</span>2.5 triệu/tháng
                </div>
                <div class="main__info1">Nhà trọ,phòng trọ</div>
                <div class="main__info--add">
                  <i class="fa-solid fa-map-location-dot"></i>
                  <div class="main__info--add1">Đông La,Hoài Đức</div>
                </div>
              </div>
            </div>
            <div class="main__item">
              <img src="/img/phong5.jpg" alt="" class="main__img" />
              <div class="img__icon7">
                <span>HOT</span>
                <i class="fa-regular fa-heart"></i>
              </div>
              <div class="main__info">
                <div class="main__info--code">
                  Nhà trọ ở Quang Trung,Hà Đông,Hà Nội
                </div>
                <div class="main__info--price">
                  <span>Từ</span>2 triệu/tháng
                </div>
                <div class="main__info1">Nhà trọ,phòng trọ</div>
                <div class="main__info--add">
                  <i class="fa-solid fa-map-location-dot"></i>
                  <div class="main__info--add1">Quang Trung,Hà Đông</div>
                </div>
              </div>
            </div>
            <div class="main__item">
              <img src="/img/phong6.jpg" alt="" class="main__img" />
              <div class="img__icon7">
                <span>HOT</span>
                <i class="fa-regular fa-heart"></i>
              </div>
              <div class="main__info">
                <div class="main__info--code">
                  Nhà trọ ở Phùng Khoang, Hà Nội
                </div>
                <div class="main__info--price">
                  <span>Từ</span>3 triệu/tháng
                </div>
                <div class="main__info1">Nhà trọ,phòng trọ</div>
                <div class="main__info--add">
                  <i class="fa-solid fa-map-location-dot"></i>
                  <div class="main__info--add1">Phùng Khoang,Hà Nội</div>
                </div>
              </div>
            </div>
            <div class="main__item">
              <img src="/img/phong7.jpg" alt="" class="main__img" />
              <div class="img__icon7">
                <span>HOT</span>
                <i class="fa-regular fa-heart"></i>
              </div>
              <div class="main__info">
                <div class="main__info--code">Nhà trọ ở Văn Quán , Hà Nội</div>
                <div class="main__info--price">
                  <span>Từ</span>3 triệu/tháng
                </div>
                <div class="main__info1">Nhà trọ,phòng trọ</div>
                <div class="main__info--add">
                  <i class="fa-solid fa-map-location-dot"></i>
                  <div class="main__info--add1">Văn Quán,Hà Nội</div>
                </div>
              </div>
            </div>
            <div class="main__item">
              <img src="/img/phong8.jpg" alt="" class="main__img" />
              <div class="img__icon7">
                <span>HOT</span>
                <i class="fa-regular fa-heart"></i>
              </div>
              <div class="main__info">
                <div class="main__info--code">
                  Nhà trọ ở Dương Nội,Hà Đông,Hà Nội
                </div>
                <div class="main__info--price">
                  <span>Từ</span>2.3 triệu/tháng
                </div>
                <div class="main__info1">Nhà trọ,phòng trọ</div>
                <div class="main__info--add">
                  <i class="fa-solid fa-map-location-dot"></i>
                  <div class="main__info--add1">Hà Đông,Hà Nội</div>
                </div>
              </div>
            </div>
          </div>
          <div class="main__code1">
            <p class="main__code">Xem tất cả</p>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </div>
      <section class="main__blog">
        <div class="container">
          <div class="blog__body">
            <p class="blod__desc">Video Review</p>
            <div class="blog__video">
              <video
                src="/video/feedback.mp4"
                autoplay="autoplay"
                controls
              ></video>
              <video
                src="/video/feedback2.mp4"
                autoplay="autoplay"
                controls
              ></video>
              <video
                src="/video/feekback3.mp4"
                autoplay="autoplay"
                controls
              ></video>
            </div>
            <p class="blog__code">
              Xem thêm nhiều hơn
              <i class="fa-solid fa-arrow-right"></i>
            </p>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="maketing__body">
            <img src="/img/maketing5.jpg" alt="" class="maketing__img" />
          </div>
        </div>
      </section>
      <section class="main__nguyen">
        <div class="container">
          <div class="main__body">
            <p class="main__desc">CĂN HỘ CHO THUÊ</p>
            <div class="main__item--container">
              <div class="main__item">
                <img src="/img/canho.jpg" alt="" class="main__img" />
                <div class="img__icon7">
                  <span>HOT</span>
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="main__info">
                  <div class="main__info--code">
                    Căn hộ ở Yên Nghĩa, Hà Đông
                  </div>
                  <div class="main__info--price">
                    <span>Từ</span>4.5 triệu/tháng
                  </div>
                  <div class="main__info1">Căn hộ</div>
                  <div class="main__info--add">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <div class="main__info--add1">Yên Nghĩa,Hà Đông</div>
                  </div>
                </div>
              </div>
              <div class="main__item">
                <img src="/img/canho2.jpg" alt="" class="main__img" />
                <div class="img__icon7">
                  <span>HOT</span>
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="main__info">
                  <div class="main__info--code">
                    Căn hộ mặt đường Lê Trọng Tấn,Hà Đông,Hà Nội
                  </div>
                  <div class="main__info--price">
                    <span>Từ</span>4 triệu/tháng
                  </div>
                  <div class="main__info1">Căn hộ</div>
                  <div class="main__info--add">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <div class="main__info--add1">Lê Trọng Tấn,Hà Đông</div>
                  </div>
                </div>
              </div>
              <div class="main__item">
                <img src="/img/nguyen3.jpg" alt="" class="main__img" />
                <div class="img__icon7">
                  <span>HOT</span>
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="main__info">
                  <div class="main__info--code">
                    Căn hộ ở ngõ 77 Thanh Xuân,Hà Nội
                  </div>
                  <div class="main__info--price">
                    <span>Từ</span>5 triệu/tháng
                  </div>
                  <div class="main__info1">Căn hộ</div>
                  <div class="main__info--add">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <div class="main__info--add1">Thanh Xuân,Hà Nội</div>
                  </div>
                </div>
              </div>
              <div class="main__item">
                <img src="/img/canho4.jpg" alt="" class="main__img" />
                <div class="img__icon7">
                  <span>HOT</span>
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="main__info">
                  <div class="main__info--code">
                    Căn hộ ở Đông la, Hoài Đức, Hà Nội
                  </div>
                  <div class="main__info--price">
                    <span>Từ</span>5 triệu/tháng
                  </div>
                  <div class="main__info1">Căn hộ</div>
                  <div class="main__info--add">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <div class="main__info--add1">Đông La,Hoài Đức</div>
                  </div>
                </div>
              </div>
              <div class="main__item">
                <img src="/img/canho5.jpg" alt="" class="main__img" />
                <div class="img__icon7">
                  <span>HOT</span>
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="main__info">
                  <div class="main__info--code">
                    Căn hộ ở Quang Trung,Hà Đông,Hà Nội
                  </div>
                  <div class="main__info--price">
                    <span>Từ</span>7 triệu/tháng
                  </div>
                  <div class="main__info1">Căn hộ</div>
                  <div class="main__info--add">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <div class="main__info--add1">Quang Trung,Hà Đông</div>
                  </div>
                </div>
              </div>
              <div class="main__item">
                <img src="/img/canho6.jpg" alt="" class="main__img" />
                <div class="img__icon7">
                  <span>HOT</span>
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="main__info">
                  <div class="main__info--code">
                    Căn hộ ở Phùng Khoang, Hà Nội
                  </div>
                  <div class="main__info--price">
                    <span>Từ</span>9 triệu/tháng
                  </div>
                  <div class="main__info1">Căn hộ</div>
                  <div class="main__info--add">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <div class="main__info--add1">Phùng Khoang,Hà Nội</div>
                  </div>
                </div>
              </div>
              <div class="main__item">
                <img src="/img/canho7.jpg" alt="" class="main__img" />
                <div class="img__icon7">
                  <span>HOT</span>
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="main__info">
                  <div class="main__info--code">Căn hộ ở Văn Quán , Hà Nội</div>
                  <div class="main__info--price">
                    <span>Từ</span>8 triệu/tháng
                  </div>
                  <div class="main__info1">Căn hộ</div>
                  <div class="main__info--add">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <div class="main__info--add1">Văn Quán,Hà Nội</div>
                  </div>
                </div>
              </div>
              <div class="main__item">
                <img src="/img/canho8.jpg" alt="" class="main__img" />
                <div class="img__icon7">
                  <span>HOT</span>
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="main__info">
                  <div class="main__info--code">
                    Căn hộ ở Dương Nội,Hà Đông,Hà Nội
                  </div>
                  <div class="main__info--price">
                    <span>Từ</span>5 triệu/tháng
                  </div>
                  <div class="main__info1">Căn hộ</div>
                  <div class="main__info--add">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <div class="main__info--add1">Hà Đông,Hà Nội</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="main__code1">
              <p class="main__code">Xem tất cả</p>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </section>
      <section class="main__canho">
        <div class="container">
          <div class="main__body">
            <p class="main__desc">NHÀ NGUYÊN CĂN CHO THUÊ</p>
            <div class="main__item--container">
              <div class="main__item">
                <img src="/img/nguyen.jpg" alt="" class="main__img" />
                <div class="img__icon7">
                  <span>HOT</span>
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="main__info">
                  <div class="main__info--code">
                    Nhà nguyên căn ở Yên Nghĩa, Hà Đông
                  </div>
                  <div class="main__info--price">
                    <span>Từ</span>4.5 triệu/tháng
                  </div>
                  <div class="main__info1">Nhà Nguyên căn</div>
                  <div class="main__info--add">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <div class="main__info--add1">Yên Nghĩa,Hà Đông</div>
                  </div>
                </div>
              </div>
              <div class="main__item">
                <img src="/img/nguyen2.jpg" alt="" class="main__img" />
                <div class="img__icon7">
                  <span>HOT</span>
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="main__info">
                  <div class="main__info--code">
                    Nhà nguyên căn mặt đường Lê Trọng Tấn,Hà Đông,Hà Nội
                  </div>
                  <div class="main__info--price">
                    <span>Từ</span>8 triệu/tháng
                  </div>
                  <div class="main__info1">Nhà nguyên căn</div>
                  <div class="main__info--add">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <div class="main__info--add1">Lê Trọng Tấn,Hà Đông</div>
                  </div>
                </div>
              </div>
              <div class="main__item">
                <img src="/img/nguyen3.jpg" alt="" class="main__img" />
                <div class="img__icon7">
                  <span>HOT</span>
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="main__info">
                  <div class="main__info--code">
                    Nhà nguyên căn ở ngõ 77 Thanh Xuân,Hà Nội
                  </div>
                  <div class="main__info--price">
                    <span>Từ</span>9 triệu/tháng
                  </div>
                  <div class="main__info1">Nhà nguyên căn</div>
                  <div class="main__info--add">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <div class="main__info--add1">Thanh Xuân,Hà Nội</div>
                  </div>
                </div>
              </div>
              <div class="main__item">
                <img src="/img/nguyen4.jpg" alt="" class="main__img" />
                <div class="img__icon7">
                  <span>HOT</span>
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="main__info">
                  <div class="main__info--code">
                    Nhà nguyên căn ở Đông la, Hoài Đức, Hà Nội
                  </div>
                  <div class="main__info--price">
                    <span>Từ</span>5 triệu/tháng
                  </div>
                  <div class="main__info1">Nhà nguyên căn</div>
                  <div class="main__info--add">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <div class="main__info--add1">Đông La,Hoài Đức</div>
                  </div>
                </div>
              </div>
              <div class="main__item">
                <img src="/img/nguyen5.jpg" alt="" class="main__img" />
                <div class="img__icon7">
                  <span>HOT</span>
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="main__info">
                  <div class="main__info--code">
                    Nhà nguyên căn ở Quang Trung,Hà Đông,Hà Nội
                  </div>
                  <div class="main__info--price">
                    <span>Từ</span>7 triệu/tháng
                  </div>
                  <div class="main__info1">Nhà nguyên căn</div>
                  <div class="main__info--add">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <div class="main__info--add1">Quang Trung,Hà Đông</div>
                  </div>
                </div>
              </div>
              <div class="main__item">
                <img src="/img/nguyen6.jpg" alt="" class="main__img" />
                <div class="img__icon7">
                  <span>HOT</span>
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="main__info">
                  <div class="main__info--code">
                    Nhà nguyên căn ở Phùng Khoang, Hà Nội
                  </div>
                  <div class="main__info--price">
                    <span>Từ</span>3 triệu/tháng
                  </div>
                  <div class="main__info1">Nhà nguyên căn</div>
                  <div class="main__info--add">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <div class="main__info--add1">Phùng Khoang,Hà Nội</div>
                  </div>
                </div>
              </div>
              <div class="main__item">
                <img src="/img/nguyen7.jpg" alt="" class="main__img" />
                <div class="img__icon7">
                  <span>HOT</span>
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="main__info">
                  <div class="main__info--code">
                    Nhà nguyên căn ở Văn Quán , Hà Nội
                  </div>
                  <div class="main__info--price">
                    <span>Từ</span>3 triệu/tháng
                  </div>
                  <div class="main__info1">Nhà nguyên căn</div>
                  <div class="main__info--add">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <div class="main__info--add1">Văn Quán,Hà Nội</div>
                  </div>
                </div>
              </div>
              <div class="main__item">
                <img src="/img/nguyen8.jpg" alt="" class="main__img" />
                <div class="img__icon7">
                  <span>HOT</span>
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div class="main__info">
                  <div class="main__info--code">
                    Nhà nguyên căn ở Dương Nội,Hà Đông,Hà Nội
                  </div>
                  <div class="main__info--price">
                    <span>Từ</span>2.3 triệu/tháng
                  </div>
                  <div class="main__info1">Nhà nguyên căn</div>
                  <div class="main__info--add">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <div class="main__info--add1">Hà Đông,Hà Nội</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="main__code1">
              <p class="main__code">Xem tất cả</p>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </section>
    </main>
    <section class="footer">
      <div class="container">
        <!-- top footer -->
        <div class="footer__top">
          <!-- column 1 -->
          <div class="footer__column">
            <!-- logo -->
            <a href="#!"><img src="/img/logo.png" alt="" class="logo" /></a>
          </div>
          <!-- column 2 -->
          <div class="footer__column">
            <h3 class="footer__heading">HỖ TRỢ</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="#!" class="footer__link">Trung tập trợ giúp</a>
              </li>
              <li class="footer__item">
                <a href="#!" class="footer__link">Thông tin tài khoản</a>
              </li>
              <li class="footer__item">
                <a href="#!" class="footer__link">Về</a>
              </li>
              <li class="footer__item">
                <a href="#!" class="footer__link">Liên hệ với chúng tôi</a>
              </li>
            </ul>
            <h3 class="footer__heading">HỆ THỐNG</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="#!" class="footer__link">Dành cho chủ trọ</a>
              </li>
              <li class="footer__item">
                <a href="#!" class="footer__link">hưỡng dẫn</a>
              </li>
              <li class="footer__item">
                <a href="#!" class="footer__link">Liên hệ</a>
              </li>
            </ul>
          </div>

          <!-- column 4 -->
          <div class="footer__column">
            <h3 class="footer__heading">KẾT NỐI VỚI CHÚNG TÔI</h3>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="tel:036868686" class="footer__link"
                  >Hotline:0368.686.86</a
                >
              </li>
            </ul>
            <div class="footer__social">
              <a href="#!" class="footer__social-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="12"
                  viewBox="0 0 6 12"
                  fill="none"
                >
                  <path
                    d="M3.98981 11.9358V6.0302H5.76473L6 3.9517H3.98981L3.9928 2.91132C3.9928 2.3692 4.0477 2.07885 4.87783 2.07885H5.98755V0H4.21224C2.07977 0 1.32931 1.00825 1.32931 2.70405V3.95186H0V6.03055H1.32931V11.8521C1.84718 11.9489 2.38257 12 2.93075 12C3.28487 12 3.63863 11.9786 3.98981 11.9358Z"
                    fill="currentColor"
                  />
                </svg>
              </a>
              <a href="#!" class="footer__social-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="12"
                  viewBox="0 0 16 12"
                  fill="none"
                >
                  <path
                    d="M16 1.42062C15.405 1.66154 14.771 1.82123 14.11 1.89877C14.79 1.524 15.309 0.935077 15.553 0.225231C14.919 0.574154 14.219 0.820615 13.473 0.958154C12.871 0.366462 12.013 0 11.077 0C9.261 0 7.799 1.36062 7.799 3.02862C7.799 3.26862 7.821 3.49938 7.875 3.71908C5.148 3.59631 2.735 2.38985 1.114 0.552C0.831 1.00523 0.665 1.524 0.665 2.08246C0.665 3.13108 1.25 4.06062 2.122 4.59877C1.595 4.58954 1.078 4.44831 0.64 4.22585C0.64 4.23508 0.64 4.24708 0.64 4.25908C0.64 5.73046 1.777 6.95262 3.268 7.23415C3.001 7.30154 2.71 7.33385 2.408 7.33385C2.198 7.33385 1.986 7.32277 1.787 7.28215C2.212 8.48123 3.418 9.36277 4.852 9.39138C3.736 10.1972 2.319 10.6828 0.785 10.6828C0.516 10.6828 0.258 10.6717 0 10.6412C1.453 11.5062 3.175 12 5.032 12C11.068 12 14.368 7.38462 14.368 3.384C14.368 3.25015 14.363 3.12092 14.356 2.99262C15.007 2.56615 15.554 2.03354 16 1.42062Z"
                    fill="currentColor"
                  />
                </svg>
              </a>
              <a href="#!" class="footer__social-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13"
                  height="12"
                  viewBox="0 0 13 12"
                  fill="none"
                >
                  <path
                    d="M0 1.39394C0 0.989891 0.146401 0.656558 0.439189 0.393939C0.731978 0.131309 1.11262 0 1.58108 0C2.04119 0 2.41344 0.129285 2.69788 0.387879C2.99066 0.654545 3.13707 1.00201 3.13707 1.4303C3.13707 1.81818 2.99486 2.14141 2.71042 2.4C2.41764 2.66667 2.03282 2.8 1.55598 2.8H1.54344C1.08333 2.8 0.711072 2.66667 0.426641 2.4C0.142209 2.13333 0 1.79798 0 1.39394ZM0.163127 12V3.90303H2.94884V12H0.163127ZM4.49228 12H7.27799V7.47879C7.27799 7.19595 7.31146 6.97777 7.37838 6.82424C7.49549 6.54949 7.67326 6.31716 7.91168 6.12727C8.1501 5.93737 8.44916 5.84242 8.80888 5.84242C9.74582 5.84242 10.2143 6.45252 10.2143 7.67273V12H13V7.35758C13 6.16161 12.7072 5.25455 12.1216 4.63636C11.536 4.01818 10.7622 3.70909 9.80019 3.70909C8.72104 3.70909 7.88031 4.15758 7.27799 5.05455V5.07879H7.26544L7.27799 5.05455V3.90303H4.49228C4.509 4.16161 4.51737 4.96565 4.51737 6.31515C4.51737 7.66464 4.509 9.55959 4.49228 12Z"
                    fill="currentColor"
                  />
                </svg>
              </a>
            </div>

            <h3 class="footer__heading">Đăng ký</h3>
            <form class="footer-form" action="">
              <input
                type="tel:098865"
                class="footer-form__input"
                placeholder="Điền số điện thoại..."
              />
              <button class="footer-form__submit">Đăng Ký</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- js -->
    <script src="/main.js"></script>
    <script src="/search.js"></script>
    <script src="/searchtitle.js"></script>
    <script>
      fetch("http://localhost:3000/api/hello")
        .then((response) => response.json())
        .then((data) => {
          document.getElementById("result").textContent = data.message;
        });
    </script>
  </body>
</html>
